/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** end reset css**/
body {
  max-width: 1400px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 90px;
}

main {
  margin: auto;
  padding: 0 70px;
}
section {
  margin: 50px 0;
}

#portfolio {
  margin: 80px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

.section-filtres {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 40px;
  gap: 10px;
}

button.filter-btn {
  background-color: white;
  border: 2px solid #1d6154;
  color: #1d6154;
  padding: 10px;
  font-family: "Syne";
  border-radius: 20px;
  min-width: 100px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.filter-btn:hover {
  background-color: #1d6154;
  color: white;
}

button.filter-btn.active {
  background-color: #1d6154;
  color: white;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

/*ADDED A LINK TO THE LOGIN PAGE*/
nav a {
  text-decoration: none; /*ok to keep this for both index+login pages cause same styling for links*/
  color: black;
}

nav a:hover {
  color: #b1663c;
}

nav a:visited {
  color: inherit;
}

#logout-link {
  display: none;
}

/*STYLING THE LOGIN PAGE*/

#nav-login {
  font-weight: bold;
}

#login-section {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  margin-bottom: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#login-section form {
  width: 70%;
  box-sizing: border-box;
}

#login-section h2 {
  margin-bottom: 10px;
  text-align: center;
}

#login-section .email-plus-password {
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#login-section label {
  display: block;
  margin: 2em 0 1em 0;
  font-size: 14px;
}

.email-plus-password input {
  width: 100%;
  height: 50px;
  font-size: 1.2em;
  box-sizing: border-box;
  border: 0px solid transparent;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login-section .button-plus-oublie {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.button-plus-oublie input {
  height: 50px;
  border: none;
}

.button-plus-oublie a {
  color: black;
}

#error-message {
  color: red;
}
/*STYLING THE FOOTER*/
footer {
  background-color: white;
}
li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
  max-width: 50%;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
  max-width: 33%;
}

#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
  height: 90%;
  object-fit: cover;
}

#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

/*EDITOR MODE PAGE*/

.admin-banner {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.projet-plus-mod {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-bottom: 1em;
}

.edit-btn {
  border: none;
  background-color: inherit;
  font-family: inherit;
}

.hidden {
  display: none;
}

.edit-page-margins {
  margin-top: 80px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */

.modal-content {
  background-color: #fefefe;
  margin: 40% auto; /* 40% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 35%; /* Could be more or less, depending on screen size */
  min-height: 55%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-body {
  padding: 10px;
}
/* The Close Button */
.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-title {
  font-weight: 400;
  font-size: 26px;
  text-align: center;
}

.modal-gallery {
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.modal-gallery img {
  width: 100%;
  max-height: 74.5px;
}

.modal-figure {
  position: relative;
  display: inline-block;
}

.modal-footer {
  display: none;
}

.trash-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  background-color: black;
  color: white;
  padding: 5px;
  cursor: pointer;
  z-index: 10;
}

.add-photo {
  padding-top: 30px;
  border-top: 1px solid #aaa;
  width: 80%;
  margin: auto;
}
.add-photo button {
  background-color: #1d6154;
  border: 2px solid #1d6154;
  color: white;
  padding: 10px;
  font-family: "Syne";
  border-radius: 20px;
  min-width: 200px;
  display: block;
  margin: auto;
}

.back-btn-span button {
  color: #aaa;
  float: left;
  font-size: 28px;
  font-weight: bold;
  border: none;
  background-color: inherit;
}

.back-btn-span button:hover,
.back-btn-span button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.file-upload-div {
  margin-top: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.file-upload-div form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  min-height: 400px;
}

.image-upload-div {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  height: 150px;
  width: 100%;
  background-color: #e8f1f6;
  overflow: hidden; /* optional: clips anything that goes outside */
}

.upload-input-icon {
  font-size: 60px;
  color: #cbd6dc;
}

.image-preview-div {
  width: 30%;
  max-height: 150px;
}
.image-preview-div img {
  object-fit: contain; /* Make it scale nicely */
  width: 100%;
}

.upload-input-btn {
  width: 50%;
  display: flex;
  justify-content: center;
}

#fileUpload {
  margin: auto;
}
.cute-upload-btn {
  max-width: 100%;
  display: inline-block;
  padding: 10px 16px;
  background-color: #cbd6dc;
  color: #306685;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
  text-align: center;
}

.upload-input-text {
  color: #306685;
  font-size: small;
}

.file-upload-form input,
select {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border: 0px solid transparent;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.file-upload-form label {
  font-size: 14px;
}

.submit-btn-div {
  padding: 20px;
  border-top: 1px solid #a7a7a7;
  margin-top: 30px;
}
.file-upload-form button {
  background-color: #a7a7a7;
  border: 2px solid #a7a7a7;
  color: white;
  padding: 10px;
  font-family: "Syne";
  border-radius: 20px;
  min-width: 200px;
  display: block;
  margin: auto;
}

.file-upload-form .formvalide {
  background-color: #1d6154;
  border: 2px solid #1d6154;
}
